/* ==== RESETEO GLOBAL ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f7f7f7;
}


/* Para evitar scroll lateral */
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
